powerplatform/TestPowerPlatformFederatedIdentity/modernflows/6ace89be-f5fc-f011-8407-002248d75c63/TESTPowerPlatformFederatedIdentityObtainFICService-6ACE89BE-F5FC-F011-8407-002248D75C63.json
{
  "properties": {
    "connectionReferences": {
      "dataverse": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_pwrplatf_pp-fic_dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0fca3021-8628-4750-9a91-e259b19437ad"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "FIC_Managed_Identity": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "managedidentities",
              "recordId": "1304a7e4-ed28-f011-8c4d-7c1e5226ec1f"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "dataverse"
            }
          }
        },
        "FIC_Managed_Identity_Access_Grant": {
          "runAfter": {
            "FIC_Managed_Identity": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bba61092-6d33-4862-9625-2b6020af11e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "pwrplatf_AcquireAccessTokenUsingKeyVaultCredentials",
              "item/TenantId": "@body('FIC_Managed_Identity')?['tenantid']",
              "item/ApplicationId": "@body('FIC_Managed_Identity')['applicationid']",
              "item/ResourceId": "https://service.flow.microsoft.com/"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "dataverse"
            }
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "FIC_Managed_Identity_Authorization": {
          "runAfter": {
            "FIC_Managed_Identity_Access_Grant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1faa0f6-5b79-4d8c-9e8e-63d39a0c2443"
          },
          "type": "Compose",
          "inputs": {
            "AuthorizationHeader": "Bearer @{body('FIC_Managed_Identity_Access_Grant')['AccessToken']}",
            "JsonWebToken": "@body('FIC_Managed_Identity_Access_Grant')?['JsonWebToken']"
          }
        },
        "FIC_Managed_Identity_JsonWebToken": {
          "runAfter": {
            "FIC_Managed_Identity_Authorization": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ddb5512-dec7-4e35-981e-6d032d6405b9"
          },
          "type": "Compose",
          "inputs": "@outputs('FIC_Managed_Identity_Authorization')['JsonWebToken']"
        },
        "Power_Automate_Environment_Details": {
          "runAfter": {
            "FIC_Managed_Identity_JsonWebToken": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ba526997-c287-4ad6-becd-408f18d09ef6"
          },
          "type": "Http",
          "inputs": {
            "uri": "https://api.flow.microsoft.com/providers/microsoft.Flow/environments/@{workflow().tags.environmentName}",
            "method": "GET",
            "queries": {
              "api-version": "2026-01-01"
            },
            "authentication": {
              "type": "Raw",
              "value": "@{outputs('FIC_Managed_Identity_Authorization')['AuthorizationHeader']}"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}