powerplatform/TestPowerPlatformFederatedIdentity/modernflows/fffd0a42-f112-f111-8342-002248d75c63/TESTPowerPlatformFederatedIdentityObtainServicePri-FFFD0A42-F112-F111-8342-002248D75C63.json
{
  "properties": {
    "connectionReferences": {
      "dataverse": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_pwrplatf_pp-fic_dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "TEST | PowerPlatformFederatedIdentity | App ID (test_pwrplatf_pp-fic_appid)": {
          "defaultValue": "6a7576eb-e377-4b0e-995b-f79de45e8d59",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_appid",
            "description": "App ID (aka. Client ID) for testing Federated Credentials Service Principal Access Token Acquisition"
          }
        },
        "TEST | PowerPlatformFederatedIdentity | Key Vault Secret Name (test_pwrplatf_pp-fic_keyvaultsecretname)": {
          "defaultValue": "Fredriksperiment-ClientSecret",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_keyvaultsecretname",
            "description": "Object Name of a Key Vault Secret containing the Client secret for Service Principal Access Token Acquisition"
          }
        },
        "TEST | PowerPlatformFederatedIdentity | Key Vault URI (test_pwrplatf_pp-fic_keyvaulturi)": {
          "defaultValue": "https://frh-01.vault.azure.net/",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_keyvaulturi",
            "description": "Key Vault URI containing credentials for Service Principal Access Token Acquisition"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "de0f55c8-5f53-441f-a660-9f06d6bc27e7"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Power_Automate_Authorization_Grant_(Secret)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a77dd7bc-a83e-42b1-9ff9-629b9faca017"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "pwrplatf_AcquireServicePrincipalAccessToken",
              "item/ApplicationId": "@parameters('TEST | PowerPlatformFederatedIdentity | App ID (test_pwrplatf_pp-fic_appid)')",
              "item/KeyVaultObjectType": 0,
              "item/KeyVaultObjectName": "@parameters('TEST | PowerPlatformFederatedIdentity | Key Vault Secret Name (test_pwrplatf_pp-fic_keyvaultsecretname)')",
              "item/KeyVaultUri": "@parameters('TEST | PowerPlatformFederatedIdentity | Key Vault URI (test_pwrplatf_pp-fic_keyvaulturi)')",
              "item/ResourceId": "https://service.flow.microsoft.com/"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "dataverse"
            }
          }
        },
        "Power_Automate_Authorization_Header_(Secret)": {
          "runAfter": {
            "Power_Automate_Authorization_Grant_(Secret)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c504e3f2-ac70-45f8-a9e4-004b9bf04fd4"
          },
          "type": "Compose",
          "inputs": "Bearer @{body('Power_Automate_Authorization_Grant_(Secret)')['AccessToken']}"
        },
        "Power_Automate_Environment_Details_(Secret)": {
          "runAfter": {
            "Power_Automate_Authorization_Header_(Secret)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "128194fc-e9f5-43bc-8f31-8683c80d9a3e"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.flow.microsoft.com/providers/microsoft.Flow/environments/@{workflow()['tags']['environmentName']}",
            "queries": {
              "api-version": "2026-01-01"
            },
            "authentication": {
              "type": "Raw",
              "value": "@outputs('Power_Automate_Authorization_Header_(Secret)')"
            }
          }
        },
        "Key_Vault_Secret_Resource_ID": {
          "runAfter": {
            "Power_Automate_Environment_Details_(Secret)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "deff1d14-1646-4706-942a-6073bdeda533"
          },
          "type": "Compose",
          "inputs": "@body('Power_Automate_Authorization_Grant_(Secret)')['KeyVaultResourceIdentifier']"
        },
        "Power_Automate_Authorization_Grant_(Secret_Resource_ID)": {
          "runAfter": {
            "Key_Vault_Secret_Resource_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bde09a47-7622-4fa3-a735-e673646fdbb5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "pwrplatf_AcquireServicePrincipalAccessToken",
              "item/ApplicationId": "@parameters('TEST | PowerPlatformFederatedIdentity | App ID (test_pwrplatf_pp-fic_appid)')",
              "item/KeyVaultObjectType": 0,
              "item/KeyVaultResourceIdentifier": "@outputs('Key_Vault_Secret_Resource_ID')",
              "item/ResourceId": "https://service.flow.microsoft.com/"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "dataverse"
            }
          }
        },
        "Power_Automate_Authorization_Header_(Secret_Resource_ID)": {
          "runAfter": {
            "Power_Automate_Authorization_Grant_(Secret_Resource_ID)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "717c74f2-8f0f-4e0b-9c64-909d66cabab9"
          },
          "type": "Compose",
          "inputs": "Bearer @{body('Power_Automate_Authorization_Grant_(Secret_Resource_ID)')['AccessToken']}"
        },
        "Power_Automate_Environment_Details_(Secret_Resource_ID)": {
          "runAfter": {
            "Power_Automate_Authorization_Header_(Secret_Resource_ID)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd56469e-de17-4354-af7b-cba7cd1dd563"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.flow.microsoft.com/providers/microsoft.Flow/environments/@{workflow()['tags']['environmentName']}",
            "queries": {
              "api-version": "2026-01-01"
            },
            "authentication": {
              "type": "Raw",
              "value": "@outputs('Power_Automate_Authorization_Header_(Secret_Resource_ID)')"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}