powerplatform/TestPowerPlatformFederatedIdentity/modernflows/f23034fd-5619-f111-8342-002248d75c63/TESTPowerPlatformFederatedIdentityGenerateanddecod-F23034FD-5619-F111-8342-002248D75C63.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {
          "source": "invoker"
        },
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_pwrplatf_pp-fic_dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "TEST | PowerPlatformFederatedIdentity | Key Vault Secret Name (test_pwrplatf_pp-fic_keyvaultsecretname)": {
          "defaultValue": "Fredriksperiment-ClientSecret",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_keyvaultsecretname",
            "description": "Object Name of a Key Vault Secret containing the Client secret for Service Principal Access Token Acquisition"
          }
        },
        "TEST | PowerPlatformFederatedIdentity | App ID (test_pwrplatf_pp-fic_appid)": {
          "defaultValue": "6a7576eb-e377-4b0e-995b-f79de45e8d59",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_appid",
            "description": "App ID (aka. Client ID) for testing Federated Credentials Service Principal Access Token Acquisition"
          }
        },
        "TEST | PowerPlatformFederatedIdentity | Key Vault URI (test_pwrplatf_pp-fic_keyvaulturi)": {
          "defaultValue": "https://frh-01.vault.azure.net/",
          "type": "String",
          "metadata": {
            "schemaName": "test_pwrplatf_pp-fic_keyvaulturi",
            "description": "Key Vault URI containing credentials for Service Principal Access Token Acquisition"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "61b7e223-2b18-4d47-8a0f-02496776d407"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Redirect_URI": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "859171de-6a63-4761-8d77-0cb6cafdc88b"
          },
          "type": "Compose",
          "inputs": {
            "commonRedirectUri": "https://login.microsoftonline.com/common/oauth2/nativeclient",
            "oneTimeRedirectUri": "https://example.org/random-url/@{formatNumber(rand(0, 32767), 'F0', '')}"
          }
        },
        "PKCE_Parameters": {
          "runAfter": {
            "Redirect_URI": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "87934e51-2a8d-46b7-a1f6-f925505b417a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "pwrplatf_GeneratePkceParameters"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Authorization_URL_(Client_secret)": {
          "runAfter": {
            "PKCE_Parameters": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8f372dce-30ed-4ebb-8de0-1239f2a79708"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "pwrplatf_GenerateAuthorizationUrl",
              "item/ApplicationId": "@parameters('TEST | PowerPlatformFederatedIdentity | App ID (test_pwrplatf_pp-fic_appid)')",
              "item/CommonRedirectUri": "@outputs('Redirect_URI')['commonRedirectUri']",
              "item/OneTimeRedirectUri": "@outputs('Redirect_URI')['oneTimeRedirectUri']",
              "item/PkceS256CodeChallenge": "@body('PKCE_Parameters')['PkceCodeChallenge']",
              "item/KeyVaultObjectType": 0,
              "item/KeyVaultObjectName": "@parameters('TEST | PowerPlatformFederatedIdentity | Key Vault Secret Name (test_pwrplatf_pp-fic_keyvaultsecretname)')",
              "item/ResponseMode": "query",
              "item/KeyVaultUri": "@parameters('TEST | PowerPlatformFederatedIdentity | Key Vault URI (test_pwrplatf_pp-fic_keyvaulturi)')",
              "item/Scopes": [
                "openid",
                "offline_access"
              ]
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}