solutions/PowerPlatformFederatedIdentityCustomApis/src/Workflows/ProvisionFlowRuntimeConnectionforServicePrincipal-DDE5DB66-F063-F011-BEC2-000D3AAB2440.json
{
  "properties": {
    "connectionReferences": {
      "dataverse": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "pwrplatf_federatedid_dataverse_connectionreference"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "workflow_uuid_namespace": {
          "description": "UUIDv5 namespace set to cloud flow entity id.",
          "runAfter": {},
          "type": "Compose",
          "inputs": "dde5db66-f063-f011-bec2-000d3aab2440"
        },
        "connection_uuidv5_name": {
          "runAfter": {
            "workflow_uuid_namespace": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@{workflow()['tags']['environmentName']}/@{triggerOutputs()['headers']['x-ms-user-id']}"
        },
        "connection_uuidv5": {
          "runAfter": {
            "connection_uuidv5_name": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "uri": "https://www.uuidtools.com/api/generate/v5/namespace/@{outputs('workflow_uuid_namespace')}/name/base64:@{base64(outputs('connection_uuidv5_name'))}",
            "method": "GET"
          }
        },
        "apihub_endpoint": {
          "runAfter": {
            "connection_uuidv5": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": {
            "url": "https://@{slice(toLower(replace(workflow()['tags']['environmentName'], '-', '')), 0, -2)}.@{slice(toLower(replace(workflow()['tags']['environmentName'], '-', '')), -2)}.environment.api.powerplatform.com",
            "apiVersion": "1",
            "filter": "environment eq '@{workflow()['tags']['environmentName']}'",
            "audience": "https://api.powerplatform.com"
          }
        },
        "apihub_authorization_grant": {
          "runAfter": {
            "apihub_endpoint": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "pwrplatf_AcquireManagedIdentityAccessToken",
              "item/Scopes": [
                "@{outputs('apihub_endpoint')['audience']}/.default"
              ]
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "dataverse"
            }
          }
        },
        "apihub_authorization_header": {
          "runAfter": {
            "apihub_authorization_grant": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "Bearer @{body('apihub_authorization_grant')['AccessToken']}"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}